body{ 
    background-color:sienna;;
    margin: 30px;
    padding: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'
}

h1 {
    color: #3b1922; 
    text-align: center;
    font-size: 50px;
}

p{
    color:black;
    text-align: justify;
    font-size: 20px;
}

h2{
    color: #3b1922; 
    text-align: center;
    font-size: 50px;
}

#HP{
    width: 30% ; /*largura*/
    display: block;
    margin: auto;
}

#elenco{
    width: 100% ; /*largura*/
    display: block;
    margin: auto;
}